@import "../../models/variables";
.filterBar {
    grid-area: filter;
    padding: 0rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    // align-items: center;
    // justify-content: flex-end;
    margin: 0;
    width: 100%;
    background-color: #fff;

    button {
        background-color: $light-grey;
        border-radius: 5px;
        padding: 0.7rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 0px;
        font-size: 0.75rem;
        font-weight: 400;
        border: 0.5px solid $grey;
        color: $dark-grey;
        &:hover {
            background-color: $grey;
        }
    }
    select {
        padding: 0;
        margin: 0;
    }
 
    .filterBox {
        display: flex;
        // flex-direction: column;
        // padding: 0.5rem;
        flex-wrap: wrap;
        // border: 0.5px solid $grey;
        div {
            padding: 0.5rem;
        }
    }
    button{
        padding: 1rem;
        height: fit-content;
        width: fit-content;
    }
    
    
}

@media only screen and (min-width: 480px)and (max-width: 1080px) {
    .filterBox {
        display: flex;
        flex-direction: column;
        // // padding: 0.5rem;
        // flex-wrap: wrap;
        // // border: 0.5px solid $grey;
        // div {
        //     padding: 0.5rem;
        // }
    }
}