$grey: #1f1f1f;
$yellow: #fbb807;
$dark-yellow: #e7aa01;
$green-color: #7eb780;
$error-color: #dc3545;
$success-color: #28a745;



@mixin button-color {
  background-color: $yellow;
  color: $grey;
  border: none;
}



@mixin button {
  @include button-color;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  :root {
    --fs-header: 40px;
    --fs-logo: 24px;
    --fs-a: 16px;
    --fs-text: 15px;
  }
}
