@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;900&family=Share+Tech+Mono&display=swap');

@import "./models/variables";
* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: $light-grey;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    .app {
    margin: 0 auto;
    
    }
}



// GENERIC STYLES

h1, h2, h3, .primary-button {
    font-family: 'Share Tech Mono', monospace;
    color: $dark-grey;
}

p, input[type=text], input[type=date], select, label, td, .secondary-button{
    font-family: 'Hind', sans-serif;
    color: $dark-grey;
}


.primary-button {
    @include primary-button;
}

.primary-button:hover {
  outline: 0;
  background: $dark-yellow;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.secondary-button {
    @include secondary-button;
}
.secondary-button:hover {
    outline: 0;
    background: $dark-red;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }

@media only screen and (max-width: 480px) {
    //ACCORDION STYLE
    .accordion {
        
        .container {
            position: relative;
            // margin: 10px 10px;
        }
        .container.true .content {
            height: 100%;
          }
        .container.true .label::before {
        content: '-';
        font-size: 30px;
        }
        .label{
            cursor: pointer;
            position: relative;
        }
        .label::before {
            content: '+';
            position: absolute;
            top: 50%;
            right: 5px;
            font-size: 30px;
            transform: translateY(-50%);
        }
        .content {
            position: relative;
            // background: white;
            height: 0;
            // font-size: 20px;
            // text-align: justify;
            // width: 780px;
            overflow: hidden;
            transition: 0.5s;
          }
    }
}
